@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

@*<AuthorizeView>
    <Authorized>
    Hello, @context.User.Identity?.Name!
    <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
    <a href="/login">Log in</a>
    </NotAuthorized>
    </AuthorizeView>*@

<AuthorizeView>
    <Authorized>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="float-end">
                <a href="#" class="btn btn-light">
                    <i class="fa fa-heart"></i>  <span class="ms-1 d-none d-sm-inline-block">Wishlist</span>
                </a>
                <a data-bs-toggle="offcanvas" href="#offcanvas_cart" class="btn btn-light">
                    <i class="fa fa-shopping-cart"></i> <span class="ms-1">My cart </span>
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link py-0 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="icon-xs bg-gray rounded-circle me-2"><i class="fa fa-user"></i> </span>
                            <span>@context.User.Identity?.Name!</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li> <a class="dropdown-item" href="#">Profile</a> </li>
                            <li> <a class="dropdown-item" href="#">Account Settings</a> </li>
                            <li> <a class="dropdown-item" href="#">Newsletter</a> </li>
                            <li> <hr class="dropdown-divider"> </li>
                            <li> <button class="dropdown-item" @onclick="BeginSignOut">Sign Out</button> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="float-end">
                <a href="/login" class="btn btn-light">
                    <i class="fa fa-user"></i><span class="ms-1 d-none d-sm-inline-block">Sign in</span>
                </a>
                <a href="/register" class="btn btn-primary"> Register </a>
                <a data-bs-toggle="offcanvas" href="#offcanvas_cart" class="btn btn-light">
                    <i class="fa fa-shopping-cart"></i> <span class="ms-1">My cart </span>
                </a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await AuthService.Logout();
        Navigation.NavigateTo("/");
    }
}
