@inherits LayoutComponentBase
@using Microsoft.AspNetCore.SignalR.Client

<div class="page">
    <Header />
    @Body
</div>
<Footer />
<ShoppingCart />

@code {
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7030/Websocket")
            .Build();

        hubConnection.On<SocketResponse<SearchModel>>("ReceiveFilters", (response) =>
        {
            Bus.Publish<SocketResponse<SearchModel>>(response);
        });

        hubConnection.On<SocketResponse<IEnumerable<ProductOutputModel>>>("ReceiveProducts", (response) =>
        {
            Bus.Publish<SocketResponse<IEnumerable<ProductOutputModel>>>(response);
        });

        hubConnection.On<SocketResponse<IEnumerable<ProductOutputModel>>>("ReceiveTopProducts", (response) =>
        {
            Bus.Publish<SocketResponse<IEnumerable<ProductOutputModel>>>(response);
        });

        await hubConnection.StartAsync();

        Bus.Subscribe<GetFiltersByCategoryMessage>(GetFilters);
        Bus.Subscribe<SearchModel>(UpdateProducts);
        Bus.Subscribe<GetTopProducts>(GetTopProducts);
    }

    private void GetFilters(MessageArgs args)
    {
        var message = args.GetMessage<GetFiltersByCategoryMessage>();

        int categoryId = message.CategoryId;

        if (hubConnection is not null)
        {
            try
            {
                Task.Factory.StartNew(async () =>
                {
                    await hubConnection.SendAsync("GetFilters", categoryId);
                });
            }
            catch(Exception e)
            {
                Console.WriteLine(e.Message);
            }
        }
    }

    private void UpdateProducts(MessageArgs args)
    {
        var message = args.GetMessage<SearchModel>();

        if (hubConnection is not null)
        {
            try
            {
                Task.Factory.StartNew(async () =>
                {
                    await hubConnection.SendAsync("GetProducts", message);
                });
            }
            catch(Exception e)
            {
                Console.WriteLine(e.Message);
            }
        }
    }

    private void GetTopProducts(MessageArgs args)
    {
        var message = args.GetMessage<GetTopProducts>();
        Console.WriteLine("GetTopProducts");
        int take = message.Take;

        if (hubConnection is not null)
        {
            try
            {
                Task.Factory.StartNew(async () =>
                {
                    await hubConnection.SendAsync("GetTopProducts", take);
                });
            }
            catch(Exception e)
            {
                Console.WriteLine(e.Message);
            }
        }
    }
}