<nav class="navbar navbar-light bg-white border-top navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar_main">
            <ul class="navbar-nav">
                @foreach(var category in categories)
                {
                    <li class="nav-item">
                        <a class="nav-link ps-0" href="/category/@category.CategoryId"> @category.Name </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

@code {
    private IEnumerable<CategoryOutputModel> categories = new List<CategoryOutputModel>();

    protected override async Task OnInitializedAsync()
    {
        var result = await CategoryService.GetCategories();

        if(result.Succeeded)
        {
            categories = result.Data;
        }
    }
}
